.no-link-style {
  text-decoration: none;
  color:white;
  /* font-size: medium; */
}

.no-link-style:visited {
  text-decoration: none;
}

/* Main container for the detail page */
.post-detail-container {
  margin-left: 230px;
  padding: 2rem;
  background-color: #212129;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post title and author */
.post-detail-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.post-author {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 1.5rem;
}

/* Post content */
.post-detail-container p {
  background-color: #3a3f56;
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  max-width: 640px;
  margin-bottom: 2rem;
  line-height: 1.5;
}


.post-actions2 {
    margin-top: 15px;
}

.post-header2 {
    margin-bottom: 8px;
}


.comment-input {
    position: absolute;
    left: 625px;
    width:100%;
    min-height: 60px;
    max-width: 1100px;
    background-color: #3a3f56;
    color:white;
    border-radius: 25px;
    padding:1rem;
}

.comment-input::placeholder {
  color: white;
  opacity: 1; 
}

.create-btn3 {
    position:relative;
    right:-1380px;
    bottom:-80px;
    background:linear-gradient(230deg, #C9184A 0%, #323949 110%);
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 25px;
}

.create-btn3:hover {
    opacity: 0.5;
}

.comment {
  background-color: #3a3f56;
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  max-width: 1100px;
  margin-bottom: 1rem;
  line-height: 1.5;
  position:relative;
  left:360px;
  top:120px;
}