.no-link-style {
  text-decoration: none;
  color:white;
  /* font-size: medium; */
}

.no-link-style:visited {
  text-decoration: none;
}

/* Main container for the detail page */
.post-detail-container {
  margin-left: 240px;
  padding: 2rem;
  background-color: #212129;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1100px;
}

/* Post title and author */
.post-detail-container h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.post-author {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 1.5rem;
}

/* Post content */
.post-detail-container p {
  background-color: #3a3f56;
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  /* max-width: 600px; */
  margin-bottom: 2rem;
  line-height: 1.5;
}


.post-actions2 {
    margin-top: 15px;
}

.post-header2 {
    margin-bottom: 8px;
}



.comment-input {
    /* position: absolute;
    left: 625px; */
    width:100%;
    min-width: 1100px;
    min-height: 60px;
    max-width: 1100px;
    background-color: #3a3f56;
    color:white;
    border-radius: 25px;
    padding:1rem;
}

.comment-input::placeholder {
  color: white;
  opacity: 1; 
}

.create-btn3 {
    /* position:relative; */
    /* right:-1380px;
    bottom:-80px; */
    background:linear-gradient(230deg, #C9184A 0%, #323949 110%);
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 25px;
  /* left:90%; */
  margin-top: 5px;
  /* top:10%; */
}

.buttonfix {
    display: flex;
    justify-content: flex-end;
}

.return-btn3 {
    position:relative;
    /* right:-1380px;
    bottom:-80px; */
    background:linear-gradient(230deg, #C9184A 0%, #323949 110%);
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 25px;
  left:-500px;
  margin-top: 5px;
  /* top:10%; */
  margin-bottom: 5px;
}

.return-btn3:hover {
    opacity: 0.5;
}

.create-btn3:hover {
    opacity: 0.5;
}

.comment {
  background-color: #3a3f56;
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  min-width: 750px;
  max-width: 1100px;
  margin-bottom: 1rem;
  line-height: 1.5;
  position:relative;
  margin-top: 10px;
  /* left:360px;
  top:120px; */
  /* margin-top: 10px; */
}

.post-card {
    /* align-items: center; */
    justify-content: center;
    min-width: 1100px;
}

.forum-container2 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: 240px;
    margin-top: 20px;
    overflow-x: hidden;
}

.comment-form {
    /* align-items: center; */
    /* margin-left:70px */
    display: flex;
    flex-direction: column;
    /* align-items: right; */
}

.comment-list {
    min-width: 1100px;
}