* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.forum-container {
    /* margin-top: 0; */
  margin-left: 230px; 
  padding: 2rem;
  background-color: #212129;
  /* min-height: 100vh; */
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-bar input {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 35%;
  height:60%;
  border: none;
  outline: none;
  font-family: 'Courier New', Courier;
  font-size: 1rem;
}

.forum-title {
    text-align: center;
}

.forum-controls {
  /* display: flex;
  justify-content: space-between; */
  position:relative;
  /* right:-960px; */
  margin: 1rem 0;
  /* width:60%; */
  /* margin-left: 360px; */
  display: flex;
  justify-content: flex-end;

  width:84%;
  align-items: center;
  
  
}

.create-btn {
  background: linear-gradient(230deg, #C9184A 0%, #323949 110%);
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 25px;
  right:40%
}

.create-btn:hover { 
  opacity: 0.5;
}

.post-card {
  background-color: #323949;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  width:60%;
  /* position:relative; */
  /* margin-left: 360px; */
  /* font-size: 1rem; */
  /* display: flex;
  justify-content: center; */
  /* margin-bottom: 1rem; */
}

.username {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.username:hover {
  opacity: 0.5;
}

.post-title {
    font-size:24px;
    font-weight:bold;
    margin-bottom: 12px
}

.post-content {
    margin-top: 5px;
    font-size: 0.80rem;
    font-weight: lighter;
    line-height: 150%;
}

.post-actions {
    margin-top: -15px;
}

.reddit-button {
    margin-right: 10px;
    border-radius: 25px;
    padding: 5px;
    padding-left: 8px;
    padding-right:8px;
    background: linear-gradient(230deg, #C9184A 0%, #323949 110%);
    color:white;
    border:none;
}

.reddit-button:hover {
  opacity:0.5;
}

.filter-btn {
    background:linear-gradient(230deg, #C9184A 0%, #323949 110%);
    color:white;
    border-radius: 25px;
    padding:10px;
    border:0;
}

.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* circle shape */
  object-fit: cover;
  margin-right: 5px;
  /* z-index: 100; */
  position: relative;
}


.no-link-style {
  text-decoration: none;
}

.no-link-style:visited {
  text-decoration: none;
}

.all-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

