html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main-content {
    height:auto;
    min-height: 100vh;
    width:100vw;
    margin-left: 240px;
    padding: 1rem 4rem;
    background-color: #212129;
}

.loadingPage {
    height:auto;
    min-height: 100vh;
    width:100vw;
    background-color: #212129;
}

.profileOffset {
    margin: 3%
}

.profileHeader {
    display:flex;
    align-items:flex-end;
}

.profilePicture {
    width:200px;
    height:200px;
    border-radius: 24px;
}

.profileHeaderText {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.profileBio {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 32px;
    margin-top: 15px;

    color: #6B7280;
}

.profileProfileText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 32px;
    margin-bottom: 10px;

    color: #e03e58;
}

.editProfileText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 32px;
    margin-bottom: 10px;

    color: #66b574;
}

.profileUsernameText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;

    color: #FFFFFF;
}

.profileEditButton {
    text-decoration: none;
    display: inline-block;
    justify-content:center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #e03e58;
    border-radius: 25px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(82, 0, 97, 0.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    line-height: 24px;
    margin: 0;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.profileEditLink {
    margin-left:25px;
}

.profileEditButton:hover {
    background-color: #b9334a;
    transform: translateY(-2px);
    text-decoration: none;
}

.profileEditButton:visited {
    text-decoration: none;
}

.profileSaveButton {
    text-decoration: none;
    display: inline-block;
    justify-content:center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #66b574;
    border-radius: 25px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(82, 0, 97, 0.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    line-height: 24px;
    margin: 0;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.profileSaveButton:hover {
    background-color: #50905c;
    transform: translateY(-2px);
    text-decoration: none;
}

.profileSaveButton:visited {
    text-decoration: none;
}

.noContent {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;

    color: #FFFFFF;
}

.artistsContainer {
    margin: 2rem 0rem;
    max-width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.displayedArtistsContainer {
    margin: 1rem 0rem;
    display:flex; 
    flex-wrap: wrap;
    padding-right: 3rem;
    gap: 2rem 4.5rem;
}

.artistsHeaderText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.songsContainer {
    margin: 2rem 0rem;
    max-width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.displayedSongsContainer {
    margin: 1rem 0rem;
    display:flex;
    flex-direction:column;
    gap: 1rem;
}

.songsHeaderText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.bioHeaderText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.bioContainer {
    margin: 2rem 0rem;
    max-width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bioEditTextField {
  width: 89%;
  padding: 12px 16px;
  background-color: #1e1e25;
  color: #e5e7eb;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  border: 2px solid #bcbcbc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

.bioEditTextField::placeholder {
  color: #9ca3af;
}

.bioEditTextField:focus {
  border-color: #66b574;
  box-shadow: 0 0 0 2px #50905c;
}

.artistSearch {
  width: 85%;
  padding: 12px 16px;
  background-color: #1e1e25;
  color: #e5e7eb;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  border: 2px solid #bcbcbc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

.artistSearch::placeholder {
  color: #9ca3af;
}

.artistSearch:focus {
  border-color: #66b574;
  box-shadow: 0 0 0 2px #50905c;
}

.songSearch {
  width: 85%;
  padding: 12px 16px;
  background-color: #1e1e25;
  color: #e5e7eb;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  border: 2px solid #bcbcbc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

.songSearch::placeholder {
  color: #9ca3af;
}

.songSearch:focus {
  border-color: #66b574;
  box-shadow: 0 0 0 2px #50905c;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.editSearch {
    height: 48px;
    width: 48px;
    background-color: #1e1e25;
    color: #e5e7eb;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    border: 2px solid #bcbcbc;
    border-radius: 8px;
    outline: none;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    cursor: pointer;
}

.editSearch:hover {
    border-color: #66b574;
    box-shadow: 0 0 0 2px #50905c;
    text-decoration: none;
}

.editButtonAdd {
    width: 88%;
    display:flex;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left; 
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    justify-content: space-between;
}

.editButtonAdd:hover {
    text-decoration: none;
    transform: translateY(-4px);
    color: #1db954;
}

.addIcon {
    margin-left: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.editButtonAdd:hover .addIcon {
  color: #5fd775;
}

.removeIcon {
    margin-left: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.editButtonAdd:hover .removeIcon {
  color: #e03e58;
}

.nextPrevContainer {
    display:flex;
    gap: 0.5rem;
}

.nextButton {
    width: 100px;
    text-decoration: none;
    display: inline-block;
    justify-content:center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #66b574;
    border-radius: 25px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(82, 0, 97, 0.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    line-height: 24px;
    margin: 0;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.nextButton:hover {
    background-color: #50905c;
    transform: translateY(-2px);
    text-decoration: none;
}

.prevButton {
    width: 100px;
    text-decoration: none;
    display: inline-block;
    justify-content:center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #e03e58;
    border-radius: 25px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(82, 0, 97, 0.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    line-height: 24px;
    margin: 0;
    padding: 8px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.prevButton:hover {
    background-color: #b9334a;
    transform: translateY(-2px);
    text-decoration: none;
}

.loadingCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}